{% extends "::base.html.twig" %}

{% block title %}Homepage{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  filter='cssrewrite'
    '@AppBundle/Resources/public/css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block header %}
    {{ parent () }}
{% endblock %}

{% block content %}
    <div>
        {{ wo_render_breadcrumbs() }}
    </div>
    <div class="container-fluid">
        <div id="content" class="col-md-12">
            Accueil
            {% image '@AppBundle/Resources/public/img/Picto_Chicote.jpg' %}
            <img src="{{ asset_url }}" alt="Example" />
            {% endimage %}
        </div>
    </div>
{% endblock %}


